{% extends 'base.html' %}

{% block content %}

{# All about forms! #}
{# https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms #}
<h2>Interactive Form</h2>
<h4 id='greeting'></h4>
<form name='theform' method='POST' action='/submission/'>
<!-- <form name='theform' method='GET' action='/get-submission/'> -->

    <section class="person">
        <label for='name_field'> Name </label>
        <input id='name_field' type='text' name='name' placeholder='Enter your name' onchange="nameChange()" />
    </section>

    <section>
        <label for="telephone_field"> Phone </label>
        <input id='telephone_field' type='tel' name='tel' placeholder='Telephone'>
    </section>

    <section class="human">
        <label for='human_field'> Human </label>
        <input id='human_field' type='checkbox' name='human' />
    </section>

    <section>
        <label for='password_field'> Password </label>
        <input id='password_field' type='password' name='password' placeholder='Password here' />
    </section>

    <section>
        <input type='submit' value='Submit'>
    </section>

    <div id="results">
        <pre></pre>
    </div>

</form>

{% endblock content %}